section.ConnectionTimeoutView {

  $connectionTimeoutViewWidth: 290px;
  $connectionTimeoutViewHeight: 150px;

  @extend %PageView;

 .page {
    display: table;
  }

  .content {

    display: table-cell;
    vertical-align: middle;
    text-align: center;

    .title, .subtitle {
      width: $connectionTimeoutViewWidth;
      margin-left: auto;
      margin-right: auto; 
    }

    .title {

      @include font-size(24px);
      margin-bottom: 32px;

    }

    .subtitle {

      @include font-size(19px);
      line-height: 20px;
      margin-top: 16px;
      margin-bottom: 32px;

    }

    button.box {
      @include font-size(19px);
      color: #000;
      font-weight: bold;
    }

  }

}
