section.DeviceDisconnectedView {

  @extend %PageView;

  z-index: 99;

  .background {

    background-color: rgba(0, 0, 0, 0.8);

  }

  .mouse-controls {

    position: absolute;
    left: 50%;
    bottom: 22px;
    width: 300px;
    margin-left: -150px;
    letter-spacing: 2px;
    text-align: center;

    a {
      text-decoration: underline;
    }

  }

  .connected {

    position: absolute;
    width: 700px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -20px;
    text-align: center;

  }

  .disconnected {

    position: absolute;
    width: 700px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -50px;
    text-align: center;

    .code {

      display: none;
      @include font-size(50px);
      margin-top: 31px;
      letter-spacing: 10px;
      height: 60px;
      color: $heroRedColor;
      -webkit-text-stroke-color: $heroRedColor;

    }

    button {

      margin-top: 20px;

    }

    .mouse-mode {

      left: 50%;
      bottom: 0px;
      width: 700px;
      margin-left: -350px;
      text-align: center;
      font-size: 15px;

    }
  }

  &.reconnect {

    .disconnected {

      height: 190px;
      margin-top: -95px;

      .code {

        display: block;

      }

    }

  }

}
