%PageView {

  @extend %View;

  position: absolute;
  width: 100%;
  height: 100%;
  color: white;

  .background {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;

  }

  .page {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

  }

}
