@import "compass/typography/lists/horizontal-list";
@import "compass/css3";

.mode-mouse header.PersistentControlsView {
  .help {
    display: none;
  }
}

header.PersistentControlsView {

  @extend %View;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;

  position: absolute;
  right: 20px;
  bottom: 32px;
  z-index: 98;

  @include transition-property(margin-bottom);
  @include transition-duration(1s);

  &.in {

    margin-bottom: 0px;

  }

  &.out {

    margin-bottom: -80px;

  }

  .quality, .help, .volume-control, .fullscreen {
    position: relative;
    display: inline-block;
  }

  .quality {

    margin-right: 6px;
    margin-left: 13px;

    .menu {

      display: none;
      position: absolute;
      bottom: 20px;
      left: -17px;
      padding: 5px 0px;
      background-color: #292929;

      &.open {

        display: block;

      }

      .item {

        color: white;
        padding: 5px 12px;
        cursor: pointer;

        &.selected, &:hover {

          color: $heroRedColor;

        }

      }

    }

  }

  .help {

    top: -1px;
    margin-left: 17px;

  }

  .volume-control {

    .volume-control-bar {

      position: absolute;
      margin-left: -1px;
      width: 71px;
      top: 0px;
      cursor: pointer;

        .bar {

            background-color: rgba(255,255,255,0.79);
            width: 1.5px;
            height: 15px;
            position: relative;
            float: left;
            border-top: 0.5px solid #8a8a8a;
            border-bottom: 0.5px solid #8a8a8a;
            margin-right: 3.5px;
            pointer-events: none;


        }

        .down {
                opacity: 0.5;
        }


    }

    margin-left: 17px;

    .asset {

      position: absolute;

    }

  }

  .fullscreen {

    margin-left: 54px;
    margin-right: 19px;

  }

}
