<div class="background"></div>
<div class="page">
    <div class="content">
        <div class="disconnected">
            <p class="message"><bdo>{{t "General.disconnection"}}</bdo></p>
            <p class="code"></p>
            <div class="link mouse-mode"><bdo>{{t "General.disconnectionmouse"}}</bdo></div>
        </div>
        <div class="connected">
            <!--<img class="loader-icon" src="img/essential/ajax-loader.gif" />-->
            <p><bdo>{{t "JoinView.connecting"}}</bdo></p>
        </div>
    </div>
</div>
