<div class="background"></div>
<div class="page">

    <div class="content">
        <button class="box restart"><bdo>{{t "EndScreenView.restart"}}</bdo></button>

        <nav class="links">
            <ul>
                <li><button class="link route trigger" data-route="/about"><bdo>{{t "FooterLinksView.about"}}</bdo></button></li>
                <li><button class="link" data-url="/tech?home"><bdo>{{t "FooterLinksView.technology"}}</bdo></button></li>
                <li><button class="link external" data-url="http://www.arcadefire.com/"><bdo>{{t "FooterLinksView.album"}}</bdo></button></li>
            </ul>
        </nav>

        <nav class="sharing">
            <ul>
                <li class="button"><button class="share google"><div class="asset icon-google"></div></button></li>
                <li class="button"><button class="share facebook"><div class="asset icon-facebook"></div></button></li>
                <li class="button"><button class="share twitter"><div class="asset icon-twitter"></div></button></li>
            </ul>
        </nav>

    </div>
</div>
