<div class="background"></div>
<div class="page">
    <section class="interactions"></section>
</div>
<div class="break-free-content">
    <div class="asset break-free"></div>
</div>
<div class="inactive-overlay">
    <div class="background"></div>
    <p><bdo>It seems that your phone has gone to sleep or your mobile browser tab was deactivated. Please go back to the experience on your phone to resume.</bdo></p>
</div>
<div class="overlay">
    <p><bdo>{{t "Buffering"}}</bdo></p>
</div>
