<div class="page">
    <nav class="links">
        <ul>
            <li><button class="link external" data-url="http://www.arcadefire.com/">{{t "FooterLinksView.album"}}</button></li>
            <li><button class="link route trigger" data-route="/about"><bdo>{{t "FooterLinksView.about"}}</bdo></button></li>
            <li><button class="link" data-url="/tech?home"><bdo>{{t "FooterLinksView.technology"}}</bdo></button></li>
            <li><button class="link external" data-url="https://www.google.com/policies/"><bdo>{{t "FooterLinksView.terms"}}</bdo></button></li>
            <li><button class="static"></button></li>
            <li class="button google"><button class="share google"><div class="asset icon-google"></div></button></li>
            <li class="button"><button class="share facebook"><div class="asset icon-facebook"></div></button></li>
            <li class="button"><button class="share twitter"><div class="asset icon-twitter"></div></button></li>
        </ul>
    </nav>
    <select class="language">
        <option value="cs">čeština</option>
        <option value="de">Deutsch</option>
        <option value="en-gb">English (UK)</option>
        <option value="en-us">English (US)</option>
        <option value="es">Español</option>
        <option value="es-419">Español (Latinoamérica)</option>
        <option value="fr">Français</option>
        <option value="it">Italiano</option>
        <option value="ht">Kreyòl Ayisyen</option>
        <option value="nl">Nederlands</option>
        <option value="pl">Polski</option>
        <option value="pt-br">Portuguès (Brasil)</option>
        <option value="sv">Svenska</option>
        <option value="tr">Türkçe</option>
        <option value="ru">ру́сский</option>
        <option value="ar">العربية</option>
        <option value="th">ไทย</option>
        <option value="ko">한국어</option>
        <option value="zh-hk">中文(简体中文)</option>
        <option value="zh-tw">中文(繁體中文)</option>
        <option value="jp">日本語</option>
    </select>
    <nav>
        <ul>
            <li class="button fs">
                <button class="fullscreen onoff hover">
                    <div class="asset icon-fullscreen-on on out"></div>
                    <div class="asset icon-fullscreen-on-over on over"></div>
                    <div class="asset icon-fullscreen-off off out"></div>
                    <div class="asset icon-fullscreen-off-over off over"></div>
                </button>
            </li>
        </ul>
    </nav>
</div>
