<div class="page">
    <button class="link external asset logo-chrome-experiment" data-url="http://www.chromeexperiments.com/"></button>
    <aside class="separator"></aside>
    <button class="link external asset logo-made-with-some-friends-from-google" data-url="http://www.google.com/"></button>
</div>