<div class="background"></div>
<div class="page">
    <div class="content">

        <div class="asset instructions-projector"></div>
        <p class="instructions"><bdo>{{t "InstructionsView.instructions"}}</bdo></p>
        <div class="link mouse-mode-camera"><bdo>{{t "SetupView.mouse"}}</bdo></div>
    </div>
    <div class="webcam-arrow"></div>
</div>
