<div class="background"></div>
<div class="page">

    <div class="content">

        <p class="instructions"><bdo>{{t "HelpView.promptWebcam"}}</bdo></p>

    </div>

    <div class="webcam-arrow"></div>

</div>
