<div class="background"></div>
<div class="page">
    <div class="content">
        <p class="copy"><bdo>{{t "PlatformNotSupportedView.performance"}}</bdo></p>
        <button class="box">OK</button>
    </div>
</div>
