<div class="page">

    <button class="help hover">
        <div class="asset icon-help out"></div>
        <div class="asset icon-help-over over"></div>
    </button>

    <div class="quality">
        <button class="gear hover">
            <div class="asset icon-gear out"></div>
            <div class="asset icon-gear-over over"></div>
        </button>
        <div class="menu">
            <div class="item" data-width="1280">720p</div>
            <div class="item" data-width="960">480p</div>
            <div class="item" data-width="640">360p</div>
        </div>
    </div>

    <div class="volume-control">

        <div class="volume-control-bar">

            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>

        </div>

    </div>

    <button class="fullscreen onoff hover">
        <div class="asset icon-fullscreen-on on out"></div>
        <div class="asset icon-fullscreen-on-over on over"></div>
        <div class="asset icon-fullscreen-off off out"></div>
        <div class="asset icon-fullscreen-off-over off over"></div>
    </button>
</div>