<div class="background"></div>
<div class="page">
    <div class="content">
        <p class="instructions"><bdo>{{t "SetupView.instructions"}}</bdo></p>
        <div class="link mouse-mode"><bdo>{{t "SetupView.mouse"}}</bdo></div>
    </div>
</div>
