<div class="seeker">

    <p class="error-touch">{{t "Error.ioschrome"}}</p>

    <div class="captions" id="timeline-captions">
    </div>

    <div class="bar">
        <div class="progress" id="video-percent-elapsed"></div>
        <canvas class="buffer"></canvas>
        <div class="handler" id="seeker-button"></div>
    </div>

</div>

<div class="content">

    <div class="controls">

        <button class="play-pause hover onoff transition">
            <div class="asset icon-play off out"></div>
            <div class="asset icon-play-over off over"></div>
            <div class="asset icon-pause on out"></div>
            <div class="asset icon-pause-over on over"></div>
        </button>


        <div class="time">
            <p class="elapsed">0:00</p>
            <p class="separator">/</p>
            <p class="total">7:30</p>
        </div>

    </div>

</div>

