<div class="content">

    <div class="popup">

        <h1>Popup Header</h1>
        <p>Popup description</p>

        <button class="box">
            <div class="button">
                I understand.
            </div>
        </button>
        
    </div>

</div>
