<div class="page">
    <div class="content">
    	<div class="asset icon-close"></div>
        <div class="logo">
            <div class="asset logo-about"></div>
            <aside class="separator">-</aside>
            <p class="title"><bdo>{{t "AboutView.title"}}</bdo></p>
        </div>

        <article>
            <div class="video" id="ytPlayer_about"></div>
            <p class="body"><bdo>{{t "AboutView.article1.body"}}</bdo></p>
            <div class="video" id="ytPlayer_about2"></div>
        </article>

        <div class="image">
        	<a href="/m/img/about/download/justareflektor_arcadefire.jpg" target="_blank"><img class="about-view-image" width="100%"></a>
          <a href="/m/img/about/download/justareflektor_arcadefire_1.jpg" target="_blank"><img class="about-view-image-1" width="100%"></a>
          <a href="/m/img/about/download/justareflektor_arcadefire_2.jpg" target="_blank"><img class="about-view-image-2" width="100%"></a>
          <a href="/m/img/about/download/justareflektor_arcadefire_3.jpg" target="_blank"><img class="about-view-image-3" width="100%"></a>
          <a href="/m/img/about/download/justareflektor_arcadefire_4.jpg" target="_blank"><img class="about-view-image-4" width="100%"></a>
          <a href="/m/img/about/download/justareflektor_arcadefire_5.jpg" target="_blank"><img class="about-view-image-5" width="100%"></a>
        </div>

        <p class="title"><bdo>{{t "AboutView.creditsTitle"}}</bdo></p>

        <p class="separator">-</p>

                <p>Written, Directed and Produced by Vincent&nbsp;Morisset</p>
                <p>Music by Arcade Fire</p>
                <p>Creative Direction by Vincent&nbsp;Morisset and Aaron&nbsp;Koblin</p>
                
                <header>Starring:</header>
                <div class="entry"><p class="role">Heroine</p><p class="separator">-</p><p class="name">Axelle ‘Ebony’ Munezero</p></div>
                <div class="entry"><p class="role">Verite</p><p class="separator">-</p><p class="name">Maurice Gilles</p></div>
                <div class="entry"><p class="role">Lanmè</p><p class="separator">-</p><p class="name">Bybiane Hyppolite</p></div>
                <div class="entry"><p class="role">Reflektè</p><p class="separator">-</p><p class="name">Charlemagne Fritzner</p></div>
                <div class="entry"><p class="role">Zonbis</p><p class="separator">-</p><p class="name">Varnessa Alcan, Ricardo Tiberice, Dorcas Jean Louis, Bellgarde MacKendy, Augusutin A. Mentor, Jayes Yves Rotty, Viergeline Jean, Genlittin Guillaume</p></div>
                <div class="entry"><p class="role">Rara Group</p><p class="separator">-</p><p class="name">Rara Tesser Esprit</p></div>

                <header>Produced by:</header>
	            <header>AATOAA</header>
                <div class="entry"><p class="role">Lead Creative Developer</p><p class="separator">-</p><p class="name">Édouard Lanctôt-Benoit</p></div>
                <div class="entry"><p class="role">Artistic Direction</p><p class="separator">-</p><p class="name">Caroline Robert</p></div>
                <div class="entry"><p class="role">Visual Effects</p><p class="separator">-</p><p class="name">Brandon Blommaert</p></div>

                <header>Google Creative Lab</header>
                <div class="entry"><p class="role">Creative Director</p><p class="separator">-</p><p class="name">Aaron Koblin</p></div>
                <div class="entry"><p class="role">Technologist</p><p class="separator">-</p><p class="name">Doug Fritz</p></div>
                <div class="entry"><p class="role">Technologist</p><p class="separator">-</p><p class="name">Jono Bandel</p></div>
                <div class="entry"><p class="role">Technologist</p><p class="separator">-</p><p class="name">Aleksandar Rodic</p></div>
                <div class="entry"><p class="role">Technologist</p><p class="separator">-</p><p class="name">Mr.doob</p></div>
                <div class="entry"><p class="role">Producer</p><p class="separator">-</p><p class="name">Sabah Kosoy</p></div>
                <div class="entry"><p class="role">Producer</p><p class="separator">-</p><p class="name">Valdean Klump</p></div>
                <div class="entry"><p class="role">Marketing Manager</p><p class="separator">-</p><p class="name">Jenny Ramaswamy</p></div>
                <div class="entry"><p class="role">Marketing Manager</p><p class="separator">-</p><p class="name">Clem Wright</p></div>

                <header>Unit9</header>
                <div class="entry"><p class="role">Interactive Producer</p><p class="separator">-</p><p class="name">Amelia Roberts</p></div>
                <div class="entry"><p class="role">Lead Developer</p><p class="separator">-</p><p class="name">Maciej Zasada</p></div>
                <div class="entry"><p class="role">Developer</p><p class="separator">-</p><p class="name">Fábio Azevedo</p></div>

                <header>Antler Films</header>
                <div class="entry"><p class="role">Producer</p><p class="separator">-</p><p class="name">Sach Baylin-Stern</p></div>
                <div class="entry"><p class="role">Director</p><p class="separator">-</p><p class="name">Vincent Morisset</p></div>
                <div class="entry"><p class="role">DOP</p><p class="separator">-</p><p class="name">Mathieu Laverdière</p></div>
                <div class="entry"><p class="role">Costume Designer</p><p class="separator">-</p><p class="name">Renata Morales</p></div>
                <div class="entry"><p class="role">Choreography</p><p class="separator">-</p><p class="name">Axelle ‘Ebony’ Munezero</p></div>
                <div class="entry"><p class="role">Editor</p><p class="separator">-</p><p class="name">Nicolas Roy</p></div>
                
                <header>Jacmel, Haiti</header>
                <div class="entry"><p class="role">Line Production</p><p class="separator">-</p><p class="name">Cine-Institute Jacmel</p></div>
                <div class="entry"><p class="role">Line Producer</p><p class="separator">-</p><p class="name">Andrew Bigosinski</p></div>
                <div class="entry"><p class="role">Production Manager</p><p class="separator">-</p><p class="name">Frero Pierre</p></div>
                <div class="entry"><p class="role">Casting / Locations</p><p class="separator">-</p><p class="name">Ilrique Foukifoura Perin</p></div>
                <div class="entry"><p class="role">Production Assistant</p><p class="separator">-</p><p class="name">Cesar Jean Rony</p></div>
                <div class="entry"><p class="role">Production Assistant</p><p class="separator">-</p><p class="name">Macdala Prevot</p></div>
                <div class="entry"><p class="role">1st Camera Assistant / Key Grip</p><p class="separator">-</p><p class="name">Belony Saint Pierre</p></div>
                <div class="entry"><p class="role">2nd Camera Assistant</p><p class="separator">-</p><p class="name">Djuny Guillaume</p></div>
                <div class="entry"><p class="role">Video Technician</p><p class="separator">-</p><p class="name">Manase Fortune</p></div>
                <div class="entry"><p class="role">Playback Technician</p><p class="separator">-</p><p class="name">Guy Marie Jean Louis</p></div>
                <div class="entry"><p class="role">Make-Up</p><p class="separator">-</p><p class="name">Marie Merci Andris</p></div>
                <div class="entry"><p class="role">Additional Footage</p><p class="separator">-</p><p class="name">Ian Lagarde, Andy Mitchell, Dave Adams, Jon Bougher</p></div>
                                          
                <header>Montréal, Canada</header>
                <div class="entry"><p class="role">Seamstress</p><p class="separator">-</p><p class="name">Ana Luisa Rodriguez</p></div>
                <div class="entry"><p class="role">Hair Stylist</p><p class="separator">-</p><p class="name">Esperence Umubyeyi</p></div>
                <div class="entry"><p class="role">1st AC</p><p class="separator">-</p><p class="name">Guillaume Sabourin</p></div>
                <div class="entry"><p class="role">Key Electrician</p><p class="separator">-</p><p class="name">Alexis Vallée Charest</p></div>
                <div class="entry"><p class="role">Key Grip</p><p class="separator">-</p><p class="name">Mathieu Émond</p></div>
                <div class="entry"><p class="role">Studio Propsmaster</p><p class="separator">-</p><p class="name">Guillaume Bédard</p></div>
                <div class="entry"><p class="role">Video Technician</p><p class="separator">-</p><p class="name">Mariane Laporte</p></div>
                <div class="entry"><p class="role">Studio Manager</p><p class="separator">-</p><p class="name">Hugues Lavoie</p></div>
                <div class="entry"><p class="role">Production Assistant</p><p class="separator">-</p><p class="name">Cody Larocque</p></div>
                <div class="entry"><p class="role">Production Assistant</p><p class="separator">-</p><p class="name">Laurent Peyre</p></div>
                <div class="entry"><p class="role">Wardrobe Assistant</p><p class="separator">-</p><p class="name">Charlotte Eedson</p></div>

                <header>Post Production</header>
                <div class="entry"><p class="role">Sound editing</p><p class="separator">-</p><p class="name">Mark Lawson</p></div>
                <div class="entry"><p class="role">Assistant Editor</p><p class="separator">-</p><p class="name">Véronique Barbe</p></div>
                <div class="entry"><p class="role">Digital Compositing</p><p class="separator">-</p><p class="name">Sylvain Lebeau</p></div>
                <div class="entry"><p class="role">Digital Compositing</p><p class="separator">-</p><p class="name">Nicolas Pellicelli</p></div>
                <div class="entry"><p class="role">Pre-Grading</p><p class="separator">-</p><p class="name">Julien Alix</p></div>
                <div class="entry"><p class="role">Grading</p><p class="separator">-</p><p class="name">Brandon Blommaert</p></div>
                <div class="entry"><p class="role">Grading</p><p class="separator">-</p><p class="name">Caroline Robert</p></div>

                <div class="entry space-above"><p class="role">Camera Rental</p><p class="separator">-</p><p class="name">Les Productions J. Chamberland</p></div>
                <div class="entry"><p class="role">Studio / Equipment Rental</p><p class="separator">-</p><p class="name">Ciné-pool</p></div>
                <div class="entry"><p class="role">Vehicle Rental</p><p class="separator">-</p><p class="name">Via Route</p></div>
                <div class="entry"><p class="role">Compositing Studio</p><p class="separator">-</p><p class="name">Shed</p></div>
                <div class="entry"><p class="role">Online Editing Studio</p><p class="separator">-</p><p class="name">Post-Moderne</p></div>
                <div class="entry"><p class="role">Travel Agent</p><p class="separator">-</p><p class="name">ITA International Travel</p></div>
                <div class="entry"><p class="role">Accomodation</p><p class="separator">-</p><p class="name">Hotel Cyvadier Jacmel</p></div>
                <div class="entry"><p class="role">Legal</p><p class="separator">-</p><p class="name">Stephane Moraille</p></div>
                
                <header>Behind-The-Scenes Video</header>
                <div class="entry"><p class="role">Director</p><p class="separator">-</p><p class="name">Ian Lagarde</p></div>
                <div class="entry"><p class="role">Editor</p><p class="separator">-</p><p class="name">Simon Gosselin</p></div>
                
                <header>Arcade Fire Management</header>
                <div class="entry"><p>Scott Rodger</p></div>
                <div class="entry"><p>Dounia Mikou</p></div>

                <header>Special Thanks</header>
                <div class="entry"><p>Andy Berndt</p></div>
                <div class="entry"><p>Ian Ellison-Taylor</p></div>
                <div class="entry"><p>Fred Chasen</p></div>
                <div class="entry"><p>AJ Bae</p></div>
                <div class="entry"><p>Punyabrata Ray</p></div>
                <div class="entry"><p>Raymond Toy</p></div>
                <div class="entry"><p>Brandon Jones</p></div>
                <div class="entry"><p>Jenn Choy</p></div>
                <div class="entry"><p>Cory Ferreria</p></div>
                <div class="entry"><p>Jason Amarante</p></div>
                <div class="entry"><p>Veronica Navarrete</p></div>
                <div class="entry"><p>Jen Bloch</p></div>
                <div class="entry"><p>Jesse Eisenhardt</p></div>
                <div class="entry"><p>Nicholas Boeder</p></div>
                <div class="entry"><p>Fred Runner</p></div>
                <div class="entry"><p>Lynn Fu</p></div>
                <div class="entry"><p>Joanne Feola</p></div>
                <div class="entry"><p>Suzanne Chambers</p></div>
                <div class="entry"><p>Jean-François Nadeau</p></div>
                <div class="entry"><p>Yves Renaud</p></div>
                <div class="entry"><p>Marc-André Chaput</p></div>
                <div class="entry"><p>François Turcotte</p></div>
                <div class="entry"><p>Tom Sacchi</p></div>
                <div class="entry"><p>Piero Frescobaldi</p></div>
                <div class="entry"><p>Yates Buckley</p></div>
                <div class="entry"><p>Justin Uberti</p></div>
                <div class="entry"><p>Scott Van Woudenberg</p></div>
              
                <div class="entry space-above"><p class="separator">-</p></div>

    </div>
</div>
