<div class="page">
    <div class="content">

        <p class="title"><bdo>{{t "ConnectionTimeoutView.title"}}</bdo></p>
        <p class="subtitle"><bdo>{{t "ConnectionTimeoutView.message"}}</bdo></p>
        <button class="box link route" data-route="/"><bdo>{{t "ConnectionTimeoutView.tryAgain"}}</bdo></button>

    </div>
</div>
