<div class="page">
    <div class="content">

        <p class="title"><bdo>{{t "DeviceDisconnectedView.title"}}</bdo></p>
        <button class="box link route trigger" data-route="/"><bdo>{{t "DeviceDisconnectedView.startAgain"}}</bdo></button>

    </div>
</div>
