<div class="page">
    <div class="content">
        <button class="restart box"><bdo>{{t "EndScreenView.restart"}}</bdo></button>
	    <footer>
	        <ul>
	            <li class="asset icon-google">Google</li><li class="asset icon-facebook">facebook</li><li class="asset icon-twitter">Twitter</li>
	        </ul>
	    </footer>
    </div>
</div>
