<div class="page">
    <div class="content">

        <p class="title"><bdo>{{t "ExperienceEmptyView.title"}}</bdo></p>
        <p class="subtitle"><bdo>{{t "ExperienceEmptyView.message"}}</bdo></p>
        <button class="box link route" data-route="/"><bdo>{{t "ExperienceEmptyView.tryAgain"}}</bdo></button>

    </div>
</div>
