<div class="page">
    <div class="asset background"></div>

    <div class="content">

        <div class="asset logo-reflektor"></div>
        <div class="asset logo-reflektor-landscape"></div>
        <p class="instructions"><bdo>{{t "LandingPage.instructions"}}</bdo></p>

        <section class="connect">
            <form name="form-connection-code">
                <input type="text" class="connection-code" autocomplete="off" autocorrect="off" autocapitalize="off" maxlength="5" />
            </form>
            <button class="box connect">></button>
        </section>
        <p class="no-code"><bdo>{{t "LandingPage.noCode"}}</bdo></p>

    </div>

    <footer>
        <ul>
            <li class="about"><bdo>{{t "FooterLinksView.about"}}</bdo></li><li class="terms link external" data-url="https://www.google.com/intl/en-us/policies/"><bdo>{{t "FooterLinksView.terms"}}</bdo></li>
        </ul>
        <ul class="links">
        <li class="asset icon-google">Google</li><li class="asset icon-facebook">Facebook</li><li class="asset icon-twitter">Twitter</li>
        </ul>
    </footer>
</div>
