<div class="page">
    <div class="content">

        <p class="connected chrome-ios"><bdo>{{t "SyncSuccessView.connected"}}</bdo></p>
        <p class="connected other"><bdo>{{t "Post.connection"}}</bdo></p>

    </div>
</div>
