<div class="page">
    <button class="touch">
        <div class="blocker"></div>
        <div class="up"><span><bdo>{{t "ControllerView.noSleepTouch"}}</bdo></span></div>
        <div class="over"></div>
    </button>
</div>
