/**
 * @author Maciej Zasada maciejzsd@gmail.com
 */

@mixin mobile {

  @media only screen and (max-width: 640px) {

    @content;

  }

}

@mixin tablet {

  @media only screen and (min-width: 641px) and (max-width: 1024px) {

    @content;

  }

}

@mixin desktop {

  @media only screen and (min-width: 1025px) {

    @content;

  }

}

@mixin large {

  @media only screen and (min-width : 1824px) {

    @content;

  }

}

@mixin retina {

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    @content;

  }

}

.mobile, .tablet, .desktop, .large, .display-normal, .display-retina {

  display: none;

}

@include mobile {

  .mobile {

    display: block;

  }

}

@include tablet {

  .tablet {

    display: block;

  }

}

@include desktop {

  .desktop {

    display: block;

  }

}

@include large {

  .large {

    display: block;

  }

}

.display-normal {

  display: block;

}

@include retina {

  .display-retina {

    display: block;

  }

  .display-normal {

    display: none;

  }

}
